* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
main > section {
  margin-top: 120px;
  margin-bottom: 120px;
}
/* banner */
.banner {
  display: flex;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/BannerImage.png);

  width: 80%;
  height: 713px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-top: 50px;
  align-content: center;
  justify-content: center;
}

.banner-container {
  width: 40%;
  margin: auto;
  justify-content: center;
}
.banner-content1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-content2 {
  max-width: 632px;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 62px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}

/* Offer */

.offer {
  width: 50%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
}

.offer-digit {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
.offer-des {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}
.offer-content {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 45px;
}
.offer-img {
  fill: lightgray 50% / cover no-repeat;
}

.party {
  display: flex;
  border-radius: 16px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Vectorrr.png);

  width: 80%;
  height: 713px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-top: 50px;
  /* align-content: center; */
  justify-content: center;
  margin-bottom: 122px;
}

.party-container {
  max-width: 70%;
  display: flex;
  align-content: center;
  margin: auto;
  margin-top: 150px;
  justify-content: space-between;
  gap: 150px;
}
.party-container1 {
  max-width: 700px;
}
.party-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 26px;
}

.party-des {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 52px;
}

button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
}
/* comimg */
.ComingSoon {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  margin-top: 120px;
  margin-bottom: 120px;
}
.coming-con {
  max-width: 393px;
  align-content: center;
  margin-top: 100px;
}
.coming-con h3 {
  color: #f00;
  text-align: left;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.coming-con h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.coming-con p {
  margin-top: 16px;
  margin-bottom: 22px;
}
.ComingSoon p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.coming-img {
  border-radius: 50%;
  border: 15px solid #f00;
  width: 400px;
  height: 400px;
  overflow: hidden;
}
.coming-img1 {
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 40%;
  margin: 20px;
}
.comingyear {
  margin-top: 100px;
  max-width: 276px;
}
.comingyear h1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.comingyear p {
  margin-top: 16px;
  margin-bottom: 40px;
}
/* portfolio */
.portfolio {
  width: 80%;
  margin: auto;
}

.portfolio h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 18px;
}

.portfolio h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.portfolio p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 880px;
  margin-bottom: 48px;
}

.portfolio-img1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.portfolio-img2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.hover-img {
  width: 100%;
  height: auto;
  transition: transform 0.4s ease-in-out;
}
.hover-img:hover {
  transform: scale(1.1);
}

/* subscribe */
.subscribe {
  width: 80%;
  height: 617px;
  margin: auto;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  margin-bottom: 120px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.sub-container {
  max-width: 896px;
  margin: auto;
}
.sub-container h2 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.sub-container p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.sub-title {
  margin-top: 40px;
  margin-bottom: 22px;
}
.sub-des {
  margin-bottom: 44px;
}
.sub-form {
  position: relative;
}
.sub-form1 {
  width: 648px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
  border: 0;
  color: rgba(7, 2, 17, 0.3);
  text-align: left;
  margin-left: 20px;
  padding-left: 20px;
  /font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: -20px;
}

.sub-form1:focus {
  outline: none;
}

.sub-button {
  width: 210px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  border: 0;
  margin-left: -20px;
}
/* footer*/

.footer-container {
  background-color: #070211;
  padding: 100px 0px;
}
.footer-container2 {
  width: 80%;
  margin: auto;
  justify-content: center;
  align-content: center;
}
.contact {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  margin: auto;
  margin-bottom: 50px;
}
.contact1 {
  max-width: 375px;
}

.contact h3 {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}
hr {
  background: rgba(255, 255, 255, 0.15);
  margin-bottom: 50px;
}
.social {
  width: 30%;
  margin: auto;
  justify-content: space-between;
  display: flex;
  margin-bottom: 50px;
}
