* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
main > section {
  margin-top: 120px;
  margin-bottom: 120px;
}
/* banner */
.banner {
  display: flex;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/BannerImage.png);

  width: 80%;
  height: 713px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-top: 50px;
  align-content: center;
  justify-content: center;
}

.banner-container {
  width: 40%;
  margin: auto;
  justify-content: center;
}
.banner-content1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.banner-content2 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px; /* 131.944% */
}

/* Offer */

.offer {
  width: 50%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 120px;
}

.offer-digit {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
.offer-des {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}
.offer-content {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 45px;
}
.offer-img {
  fill: lightgray 50% / cover no-repeat;
}

.party {
  display: flex;
  border-radius: 16px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url(../resources/Vectorrr.png);

  width: 80%;
  height: 713px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-top: 50px;
  /* align-content: center; */
  justify-content: center;
  margin-bottom: 122px;
}

.party-container {
  max-width: 70%;
  display: flex;
  align-content: center;
  margin: auto;
  margin-top: 150px;
  justify-content: space-between;
  gap: 150px;
}
.party-container1 {
  max-width: 700px;
}
.party-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
  margin-bottom: 26px;
}

.party-des {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 52px;
}

button {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
}

/* portfolio */
.portfolio {
  width: 80%;
  margin: auto;
}

.portfolio h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 18px;
}

.portfolio h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-bottom: 24px;
}
.portfolio p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 880px;
  margin-bottom: 48px;
}

.portfolio-img1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.portfolio-img2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}
